<!DOCTYPE html>
<html>
  <head>
    <title>Readit</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>

  <body>
    <div id= "content">
      <div id="login_logout">
    <% if @current_user %>
      Logged in as:
      <%= @current_user.name %>
      <em><%= link_to "(Logout)", session_path,
          method: :delete %></em>
        <% else %>
      <em>Not logged in.</em>
      <%= link_to 'Login', new_session_path %>
    <% end %>
  </div>

      <h1> Readit</h1>
      <% unless flash[:notice].blank? %>
      <div id= "notification"><%= flash[:notice] %></div>

      <% end %>
    <%= yield %>
  </div>

  <ul id="navigation">
    <li><%= link_to 'Front page stories', stories_path %></li>
    <li><%= link_to 'Submit a new story!', new_story_path %></li>
      </ul>
    </body>

</html>
